@mixin search {
  .search {
    text-align: center;
    padding: 10px;
  }

  .search__input {
    min-width: 30vw;
    font-size: $font-size;
    border-radius: 4px;
    margin: 20px 10px;
    padding: 2px 10px;
  }
}
