$bg-color: #ccc;
$main-bg-color: white;
$btn-color: orange;
$btn-color-hover: green;
$color: #444;
$title-font-size: 1.8rem;
$font-size: 1.5rem;

// @media (min-width: 900) {
//   $main-bg-color: red;
//   $title-font-size: 0.8rem;
//   $font-size: 0.5rem;
// }
